@font-face {
	font-family: iosevkaterm;
	src: url(./assets/fonts/iosevka-term-regular.woff2);
}

html {
	height: 100%;
}

body {
	font-family: monospace;
	color: #e0def4;
	background: rgb(51, 51, 51);
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 2px;
	overflow: hidden;
}

main {
	display: grid;
	grid-template-columns: 120fr 120fr;
	flex: 1;
	height: 1000px;
	overflow: hidden;
}

#eogexifval > a {
	color: rgb(53, 153, 228);
}

a {
	color: #9ccfd8;
}

b {
	color: #e0def4;
	font-weight: 900;
}

i {
	color: #908caa;
	font-size: 12px;
}

hr {
	color: #524f67;
	margin: 5px 0;
}

h1 {
	margin-top: 0;
}

p {
	margin: 0;
	margin-bottom: 5px;
}

.side {
	display: grid;
	height: 100%;
	overflow: hidden;
}

.window {
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.window:hover .windowbar:not(.desel) {
	background: rgb(40, 85, 119);
	border-color: rgb(76, 120, 153);
	color: white;
}

.window:hover .windowcontent {
	border-color: rgb(40, 85, 119);
}

.windowbartabs {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.windowbar {
	width: 100%;
	height: 24px;
	align-content: center;
	background: rgb(34, 34, 34);
	border: solid 1px rgb(51, 51, 51);
	color: rgb(136, 136, 136);
	font-size: 13px;
	padding-left: 4px;
	box-sizing: border-box;
	flex-shrink: 0;
	overflow: hidden;
	white-space: nowrap;
}

.windowcontent {
	border: solid 2px rgb(34, 34, 34);
	border-top: 0;
	flex-grow: 1;
	color: white;
	overflow: auto;
}

.openseadragon {
	width: 100%;
	height: 100%;
	background: rgb(119, 118, 123);
	border-right: solid 1px rgb(32, 32, 32);
	position: absolute;
	top: 0;
	left: 0;
}

.navbtn {
	font-family: monospace;
	width: 44px;
	font-size: 18px;
	color: white;
	border-radius: 5px;
	background-color: rgb(46, 46, 46);
	border: 0;
	height: 40px;
	pointer-events: auto;
	transition-duration: 0.2s;
}

.navbtn:hover {
	background-color: rgb(70, 70, 70);
}

#topbar {
	height: 22px;
	width: 100%;
	display: flex;
	align-items: center;
	color: white;
	font-size: 13px;
}

#workspace {
	width: 20px;
	height: 100%;
	text-align: center;
	align-content: center;
	background: rgb(40, 85, 119);
	border: solid 1px rgb(76, 120, 153);
	margin-right: auto;
	margin-top: 1px;
}

#timestr {
	margin: 0 4px 0 auto;
}

#title {
	margin: 0 auto;
}

#eogwin {
	display: flex;
	flex-direction: row;
	height: 100%;
	font-family: sans;
	font-size: 14px;
/* 	border: solid 1px rgb(32, 32, 32); */
}

#eogexif {
	width: 200px;
	display: flex;
	flex-direction: row;
	padding: 10px;
	background: rgb(50, 50, 50);
}

#eogexifkey {
	width: min-content;
	margin-right: 4px;
	text-align: right;
	color: rgb(153, 153, 152);
	white-space: nowrap;
}

#eogexifval {
	flex-grow: 1;
	margin-left: 4px;
	text-align: left;
}

#proptxt {
	text-align: center;
	font-weight: bold;
	margin: 8px 8px 0;
}

#btncontainer {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	pointer-events: none;
}

#bckbtn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 12px;
}

#fwdbtn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 12px;
}

#osdcontainer {
	flex-grow: 1;
	height: 100%;
	background: rgb(119, 118, 123);
	border-right: solid 1px rgb(32, 32, 32);
	position: relative;
}

.windowcontent:has(#calculator) {
	overflow: hidden;
	color: #e0def4;
}

#calculator {
	width: 100%;
	height: 100%;
}

.windowcontent:has(#termwin) {
	padding: 15px;
	background: #191724;
	overflow: hidden;
}

#termwin {
	color: #e0def4;
	width: 100%;
	height: 100%;
	font-family: iosevkaterm;
	overflow: scroll;
	box-sizing: border-box;
	font-size: 16px;
}

.termgreen {
	color: #31748f;
}

.termlgreen {
	color: #9ccfd8;
}

.cursor {
	animation: 1s blink step-end infinite;
}

@keyframes "blink" {
	from, to {
		color: transparent;
	}
	50% {
		color: #e0def4;
	}
}

#fetchcont {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: 5px 0;
}

#pfpwrap {
	display: flex;
}

#pfp {
	height: 15ch;
}

#fetchtxt {
	margin: 0 5px;
}

.windowcontent:has(#contactwin) {
	padding: 10px;
	background: #191724;
	overflow-x: hidden;
}

.linkbox {
	background: #1f1d2e;
	border: solid 1px #524f67;
	padding: 5px;
	margin: 5px;
	margin-bottom: 10px;
	display: flex;
	color: #908caa;
	font-size: 14px;
}

.linkimg {
	margin-right: 5px;
	height: 48px;
}

.padlogo {
	margin: 6px;
	margin-right: 11px;
	width: 36px;
	height: 36px;
	object-fit: contain;
}

.linkdesc {
	flex-grow: 1;
}

.windowcontent:has(#aboutwin) {
	background: #191724;
}

#aboutwin {
	font-size: 14px;
	background: #191724;
}

.windowcontent:has(#projectwin) {
	background: #0d1117;
	padding: 20px;
	padding-right: 0;
}

.projectbox {
	border-top: 1px solid #2f353d;
	border-bottom: 1px solid #2f353d;
	margin-top: -1px;
	display: flex;
	font-size: 14px;
}

.projecttext {
	display: flex;
	flex-direction: column;
}

.projectdesc {
	color: #9198a1;
	margin-bottom: 8px;
	margin-top: 0;
	padding-right: 32px;
}

.projectlink {
	font-size: 20px;
	font-weight: 600;
	color: #4493f8;
	text-decoration: none;
	margin-bottom: 4px;
	margin-top: 24px;
}

.ghlink {
	color: #4493f8;
}

.projectlink:hover {
	text-decoration: underline;
}

.projectlang {
	font-size: 12px;
	color: #9198a1;
	margin-bottom: 24px;
	margin-top: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 3px;
}

.langbadge {
	width: 12px;
	height: 12px;
	border: 1px solid #ffffff26;
	border-radius: 12px;
}

.cbadge {
	background: #555555;
}

.pythonbadge {
	background: #3572A5;
}

.jsbadge {
	background: #f1e05a;
}

.kicadbadge {
	background: #FF7800;
}

.gcbbadge {
	background: #3452FF;
}

.htmlbadge {
	background: #E54C21;
}

.cssbadge {
	background: #66309A;
}

a:has(.projectimg) {
	margin-left: auto;
	height: 256px;
}

.projectimg {
	height: 100%;
	image-rendering: auto;
	mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 60%, transparent 100%);
}

#projectwin {
	font-family: "Mona Sans VF", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.windowcontent:has(#btnwin) {
	background: #191724;
	padding: 10px;
}

.btnlink {
	display: inline-block;
	width: 88px;
	height: 31px;
}

.btnlink > img {
	width: 88px;
	height: 31px;
	image-rendering: pixelated;
}

#btnwin {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

#btnls {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}

#mybtn {
	display: flex;
	gap: 5px;
	align-items: end;
	font-size: 12px;
}
