:root {
	font-family: monospace;
}

html {
	height: 100%;
}

body {
	background: rgb(51, 51, 51);
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 2px;
	overflow: hidden;
}

main {
	display: grid;
	grid-template-columns: 120fr 120fr;
	flex: 1;
	height: 1000px;
	overflow: hidden;
}

.side {
	display: grid;
	height: 100%;
	overflow: hidden;
}

#left {
	grid-template-rows: 120fr 120fr;
}

#right {
	grid-template-rows: 80fr 80fr 80fr;
}

.window {
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.window:hover .windowbar:not(.desel) {
	background: rgb(40, 85, 119);
	border-color: rgb(76, 120, 153);
	color: white;
}

.window:hover .windowcontent {
	border-color: rgb(40, 85, 119);
}

.windowbartabs {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.windowbar {
	width: 100%;
	height: 24px;
	align-content: center;
	background: rgb(34, 34, 34);
	border: solid 1px rgb(51, 51, 51);
	color: rgb(136, 136, 136);
	font-size: 13px;
	padding-left: 4px;
	box-sizing: border-box;
	flex-shrink: 0;
}

.windowcontent {
	border: solid 2px rgb(34, 34, 34);
	border-top-width: 0;
	flex-grow: 1;
	color: white;
	padding: 4px;
	overflow: auto;
}

#calculator {
	width: 100%;
	height: 100%;
}

#openseadragon {
	width: 100%;
	height: 100%;
}

#topbar {
	height: 22px;
	width: 100%;
	display: flex;
	align-items: center;
	color: white;
	font-size: 13px;
}

#workspace {
	width: 20px;
	height: 100%;
	text-align: center;
	align-content: center;
	background: rgb(40, 85, 119);
	border: solid 1px rgb(76, 120, 153);
	margin-right: auto;
	margin-top: 1px;
}

#timestr {
	margin: 0 4px 0 auto;
}

#title {
	margin: 0 auto;
}
